%form{:action=>"/create", :method=>"post"}
  - @quiz.each do |quiz|
    %h2= quiz["title"]
    - quiz["items"].each_with_index do |item, index|
      .item
        .question= item["question"]
        .choice
          - [{:en => "yes", :jp => "はい"}, {:en => "no", :jp => "いいえ"}].each do |choice|
            %label
              %input{:type => "radio", :name => "#{quiz["category"]}#{index}", :value => choice[:en], :checked => instance_variable_get("@#{quiz["category"]}#{index}") == choice[:en]}
              = choice[:jp]
  %input{:type=>"submit", :value=>"評価結果を見る"}

