.chart
  %img{:src => "http://chart.apis.google.com/chart?cht=r&chs=540x540&chd=t:#{@points}&chds=0,100&chco=000000&chls=5.0,4.0,0.0&chxt=x,y&chxl=0:|#{@titles}|1:||25|50|75|100&chm=r,FF000070,0,0.0,0.75|r,FFFF0070,0,0.75,0.96|r,00FF0070,0,0.96,1.0"}

.result
  .point
    %h2 結果
    %ul
      - @quiz.each do |quiz|
        %li #{quiz['title']} : #{quiz['point']}
  .note
    %h2 得点にによって次のようなリスクがある
    %ul
      %li 75点以下：すぐに改善が必要だ（赤信号）
      %li 76点から96点：改善が必要だ（黄信号）
      %li 97、98、99点：できれば改善しよう（緑信号）
      %li 100点：これ以上の改善すべき点はない

.permalink
  - permalink_url = "http://#{env['HTTP_HOST']}/quiz/#{params['result']}"
  Permalink:
  %a{:href => permalink_url} #{permalink_url}

.detail
  - @quiz.each do |quiz|
    %h2= quiz["title"]
    - quiz["items"].each_with_index do |item, index|
      .item
        - answer = @result["#{quiz["category"]}#{index}"]
        .question= item["question"]
        .answer= {"yes" => "はい", "no" => "いいえ"}[answer]
        .point= item["#{answer}_point"]
        .maxpoint= [item["yes_point"], item["no_point"]].max
        .practice= item["practice"]

